<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MyQuarium</title>
<link href="http://localhost:9000/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="images/icone.png" rel="shortcut icon" />
</head>
<body class="container">
	<div class="jumbotron" align="left" style="width: 100%;">
		<div align="center"
			style="margin-top: 2px; height: 50px; width: 100%;">
			<h2 class="welcome">Bem vindo</h2>
			<h2 class="welcome" th:text="${name}"></h2>
			<h2 class="welcome">!</h2>
			<div align="right" class="welcome">
				<form action="doLogoff" method="post">
					<button class="btn btn-danger" type="submit">Logoff</button>
				</form>
			</div>
		</div>
	</div>
	<div class="jumbotron" align="center"
		style="margin-top: 5px; width: 100%;">
		<div align="center">
			<h2>Minhas instâncias</h2>
			<p th:if="${AQUARIUM_LIST_IS_EMPTY}" class="validation-error"
				th:text="${AQUARIUM_LIST_IS_EMPTY}">...</p>
			<table th:if="${aquariumList}" class="table table-hover">
				<thead>
					<tr>
						<th>Referência do Aquário</th>
						<th>Endpoint</th>
						<th>Temperatura Máxima</th>
						<th>Temperatura Mínima</th>
					</tr>
				</thead>
				<tr th:each="aquario : ${aquariumList}">
					<td><span th:text="${aquario.aquariumName}"></span></td>
					<td><span th:text="${aquario.aquariumEndpoint}"></span></td>
					<td><span th:text="${aquario.maximumTemperature}"></span></td>
					<td><span th:text="${aquario.minimumTemperature}"></span></td>
					<td><a class="btn btn-info"
						th:href="@{'/'+${aquario.user.user}+'/'+${aquario.aquariumName}}">Detalhes</a></td>
				</tr>
			</table>
			<form action="newAquarium" method="post">
				<input type="hidden" />
				<div class="form-group">
					<label for="AquariumName">Referência do aquário</label> <input
						type="text" class="form-control" id="aquariumName"
						name="aquariumName" size="50" />
					<p th:if="${AQUARIUM_NAME_CANNOT_BE_NULL}" class="validation-error"
						th:text="${AQUARIUM_NAME_CANNOT_BE_NULL}">...</p>
					<p th:if="${AQUARIUM_ALREADY_EXISTS}" class="validation-error"
						th:text="${AQUARIUM_ALREADY_EXISTS}">...</p>
				</div>
				<div class="form-group">
					<label for="Endpoint">MyQuarium endpoint</label> <input type="text"
						class="form-control" id="endpoint" name="endpoint" size="100" />
					<p th:if="${AQUARIUM_ENDPOINT_CANNOT_BE_NULL}"
						class="validation-error"
						th:text="${AQUARIUM_ENDPOINT_CANNOT_BE_NULL}">...</p>
				</div>
				<div class="form-group">
					<label for="MaxTemp">Temperatura máxima do Aquário</label> <input
						type="number" class="form-control" id="tempMax" name="tempMax"
						size="100" />
					<p th:if="${MAXIMUM_TEMPERATUE_CANNOT_BE_EMPTY}"
						class="validation-error"
						th:text="${MAXIMUM_TEMPERATUE_CANNOT_BE_EMPTY}">...</p>
				</div>
				<div class="form-group">
					<label for="MinTemp">Temperatura minima do Aquário</label> <input
						type="number" class="form-control" id="tempMin" name="tempMin"
						size="100" />
					<p th:if="${MINIMUM_TEMPERATUE_CANNOT_BE_EMPTY}"
						class="validation-error"
						th:text="${MINIMUM_TEMPERATUE_CANNOT_BE_EMPTY}">...</p>
				</div>
				<div class="form-group">
					<label for="Cicles">Ciclo Inicial</label> <select name="cicle"
						class="form-control" id="cicle">
						<option value="OFF">OFF</option>
						<option value="ON">ON</option>
						<option value="MAXIMUM">Máximo</option>
					</select>
				</div>
				<button type="submit" class="btn btn-success">Criar</button>
			</form>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://localhost:9000/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>